/*header / nav bar starts here*/
body {
    background: #F5F5F5;
    position: relative;
}

.header1 {
    position: absolute;
    width: 1377px;
    height: 193.67px;
    left: 0px;
    top: -5.02px;
    background: #FFFFFF;
    box-shadow: 0px 0px 9.51103px rgba(0, 0, 0, 0.14);
}

.navmain {
    position: absolute;
    width: 1248px;
    height: 160.25px;
    left: 65px;
    top: 19px;
}

.logotitle {
    position: absolute;
    width: 475.99px;
    height: 10.11px;
    left: 75px;
    top: 17px;
}

.logo1 {
    width: 69px;
    height: 70px;
    background: red;
    border-radius: 50%;
}



.title1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 58.7455px;
    line-height: 69px;
}

.title2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 5px;
}

.menulinks {
    position: absolute;
    left: 102.27px;
    top: 130.25px;
  
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 30px;
}

nav ul li a {
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    font-family: Montserrat;
    list-style: none;
    text-decoration: none;
    color: #858585;
    transition: all 0.5s ease;
}

nav ul li a.active,
nav ul li a:hover {
    color: #58B7FC;
}


.btnlogin {
 border: none;
  border-radius: 10px;
  background: #58B7FC;
  width: 100px;
  color: white;
  
  
  
  
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #EFFAFF;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 2px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #22BAFF;
  color: white;
}
.dropdown:hover .dropdown-content {display: block;}

.dropbtnlinks:hover .dropdown-content {display: block;}

/* Media query starts here*/


@media only screen and (max-width: 600px) {
    .header1 {
        height: 100px;
        width: 100%;
    }
    nav .logo1 {
        background: blue;
        margin-left: -50px;
    }
    nav .logotitle {
        height: 10.11px;
        left: 25px;
        top: 5px;
    }
    nav .title1 {
        font-size: 30px;
        line-height: 50px;
    }
    .title2 {
        font-size: 13px;
       
        
    }
.menulinks, .dropbtn {
    display: none;
  }
  
  
  /*trying */
  
} /*media query ends here*/

/*trying HAMBURGER */


/*header / nav bar  here*/

/*Footer starts here*/



/*footer ends here*/
